* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
}

.body-container {}

html {


    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(5, 5, 5, 0.4))), url(../../pics/background.jpg);


    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(5, 5, 5, 0.4)), url(../../pics/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-bar {
    padding: .5em;
    background-color: rgba(5, 5, 5, 0.4);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.search-panel {

    margin: auto;
    margin-top: 10px;
    width: 80%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.search-btn {

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}



#search-input {

    font-size: 24px;
    background-color: rgba(239, 239, 239, .9);
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    -ms-flex-preferred-size: 40%;
    flex-basis: 60%;
}

#search-input::-webkit-input-placeholder {
    color: black;
}

#search-input:-ms-input-placeholder {
    color: black;
}

#search-input::placeholder {
    color: black;
}


#search-icon {
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: rgba(239, 239, 239, .9);
    border-radius: 5px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}


.selector {
    -ms-flex-preferred-size: auto;
    flex-basis: 30%;
/*    width: 130px;*/
    height: auto;
    padding: 5px;
    font-size: 20px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    background: rgba(239, 239, 239, .9) url(pics/icons/downArrow.png) no-repeat left;
    -webkit-appearance: none;
}

.search-result {
    
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(239, 239, 239, .5);
}

.search-result-head {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.search-result-head p {
    font-weight: bold;
    color: #112233;
    font-size: 29px;
}

.filter {
    width: 100px;
    color: #333333;
    font-size: 25px;
    background: rgba(239, 239, 239, 0) url(pics/icons/downArrowBlack.png) no-repeat left;
}




.book-information {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-column-gap: 10px;
}

.coverb {
    
    width: 13em;
    height: 20em;
}

.title{
    font-weight: bold;
    color: #112233;
    font-size: 29px;
}
.spantoken  {
    color: #333;;
    font-size: 19px;
    
}
.spantoken> span:nth-child(1){
    font-size: 20px;
    color: #112233;
    font-weight: bolder;
}
.keywords span a{
    color: rgba(239, 239, 239, 1);
    background-color: rgba(5, 5, 5, 0.4);
    padding: 0px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.keywords span a:hover{
    color: rgba(239, 239, 239, 1);
    background-color: rgba(5, 5, 5, 0.8);
}

.info{
    margin: auto 0;
}
.synopsis{
    margin: 0 auto;
    height: 20em;
    width: auto;
    
    
}
.syn{
    height: 90%;
    
    overflow-y: scroll;
    
}
.synopsis-content{
}
.syn::-webkit-scrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
     display: none;
}
.synopsis-title{
    font-size: 20px;
    color: #112233;
    font-weight: bolder;
    
}
@media only screen and (max-width:960px) {

    .search-panel {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .search-btn {
        margin-top: 10px;
    }
    
    .book-information {
    display: grid;
    grid-template-columns: 1fr 2fr;
    }
    .synopsis{
        grid-column: 1/3;
    }
}

@media only screen and (max-width:600px) {}
